@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --body-color: #000;
    --body-text-font: 'Exo', sans-serif;
    --body-text-size: 12px;
    --body-text-weight: 300;

    --hero: #ffbd17;
    --active: #df7001;
    --light-grey: #B2B2B2;
    --mid-grey: #959595;
    --dark-grey: #5C6064;
    --background: #fff;
    --transparent-black: rgba(0, 0, 0, 0.59);
    --transparent-white: rgba(255, 255, 255, 0.15);
    --filter-to-hero: invert(85%) sepia(16%) saturate(5060%) hue-rotate(344deg) brightness(102%) contrast(101%);

    --big-vertical-margins: 16.5%;
    --small-vertical-margins: 10.3%;
    --big-vertical-gap: 5%;
    --small-vertical-gap: 2%;
    --horizontal-margins: 15vh;

    --transparent-border: rgba(255, 255, 255, 0.15) 1px solid;
}

*{
    margin: 0;
    padding: 0;
    height: auto;
    font-family: var(--body-text-font);
    font-size: var(--body-text-size);
    font-weight: var(--body-text-weight);
    line-height: normal;
    color: var(--body-color);
    box-sizing: border-box;
}

html, body {
    width: 100%; 
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--background);
} 

h1, h2, h3, p, a, button, span {
    position: relative;
    z-index: 2;
}
h1, h1 span{
    font-size: 33px;
    color: var(--background);
    font-weight: 800;
    line-height: 40px;
}
h2, h2 span {
    font-size: 32px;
    font-weight: 700;
}
h3 {
    font-size: 25px;
    font-weight: 600;
    background-color: var(--hero);
    line-height: 45px;
    padding-left: var(--big-vertical-gap);
    margin-bottom: var(--big-vertical-gap)
}
h4 {
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    text-transform: capitalize;
}
h2::after, h3::after, .underline {
    content: '';
    width: 0%;
    height: 7px;
    background: var(--hero);
    display: block;
    margin-top: -6px;
    position: relative;
    z-index: 0 !important;
}
h3::after {
    margin-top: 0px;
}
h2.animating::after, h3.animating::after, .underline {
    width: 120%;
    transition: width 500ms ease-in-out;
    transition-delay: 250ms;
}

p {
    line-height: 18px;
}

p span, h2 span {
    color: var(--hero);
}

a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #fff;
}

ul {
    list-style-type: none;
}

button {
    font-weight: 700;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    transition: 1s;
    background: var(--hero);
    position: relative;
    z-index: 2 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    text-transform: capitalize;
}
button:hover {
    background-color: var(--background);
}
button:hover i{
    color: var(--background);
}

button img {
    padding-left: 10px;
    margin-top: 2px;
    height: 20px;
    width: auto;
}

.vertical-line{
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 1px;
    background-color: var(--body-color);
    opacity: 0.05;
    content: '';
}
.vertical-line.left {
    left: var(--big-vertical-margins);
}
.vertical-line.right {
    right: var(--big-vertical-margins);
}

.underline {
    width: 100%;
    z-index: -1;
    margin-top: -7px;
}
.section-divider {
    width: calc(100% - var(--small-vertical-margins) * 2) !important;;
    margin-left: var(--small-vertical-margins) !important;
    margin-right: var(--small-vertical-margins) !important;
}
.section-divider::after {
    display: none !important;
}
.section-intro p {
    margin-top: 10px;
}
.section-intro .horizontal-line {
    display: none;
}
.subsection-intro h3 {
    background: transparent;
    padding-left: 0;
}
.subsection-intro .underline {
    height: 3px;
    top: -21px !important;
    width: 240px;
}

.flex-container {
    display: flex;
    gap: var(--big-vertical-gap);
    justify-content: left;
    margin-bottom: var(--horizontal-margins);
    flex-wrap: wrap;
    flex-direction: column;
}

.mid-width {
    width: calc(100% - (var(--small-vertical-margins) * 2));
    margin: 0 var(--small-vertical-margins);
    object-fit: cover;
    position: relative;
    z-index: 20;
}


@media screen and (min-width: 1100px ){
    .section-intro p {
        margin-top: 30px;
    }
    .section-intro .horizontal-line {
        display: block;
    }
    .underline {
        width: 300px !important;
    }
    .mid-width {
        width: calc(100% - (var(--big-vertical-margins) * 2));
        margin: 0 var(--big-vertical-margins);
    }
}

@media screen and (min-width: 800px) {
    :root {
        --body-text-size: 14px;
    }
    .flex-container {
        flex-direction: row;
    }
    h1, h1 span{
        font-size: 50px;
        line-height: 62px;
    }
    h2, h2 span {
        font-size: 42px;
        font-weight: 700;
    }
    h3 {
        font-size: 31px;
        line-height: 55px;
    }
    h3::after {
        margin-top: -6px;
    }
    h4 {
        font-size: 18px;
    }
    p {
        line-height: 20px;
    }
}



/*-------------- TOP BAR (NAVIGATION) ----------------*/

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--transparent-black);
    padding: 0;
    width: 100%;
    z-index: 32;
    height: 8%;
    min-height: 30px;
    max-height: 86px;
    border-bottom: var(--transparent-border);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 1px;
    border-style: solid;
}
.nav-container a {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
    padding-right: 10px;
}
.nav-container a:hover {
    color: var(--hero);
}
.nav-container img, .main-logo {
    height: 2vh;
    min-height: 15px;
}
.divider {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--transparent-white);
    position: absolute;
    left: var(--big-vertical-margins);
    z-index: 2;
    color: rgba(255, 255, 255, 0);
}
.nav-container .divider {
    left: auto;
    right: var(--big-vertical-margins);
}

nav {
    width: 100%;
    height: 100%;
    margin-right: var(--big-vertical-margins);
}
nav ul {
    display: flex;
    align-items: center !important;
    justify-content: right;
    height: 100%;
}
nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
nav:not(.contact, .menu) ul li:first-child {
    padding-left: calc(3% + 10px);
}
nav li {
    color: var(--background);
}

nav.contact {
    margin: 0;
    top: 0;
    left: calc(100% - var(--big-vertical-margins));
    position: absolute;
    display: flex;
    align-items: center !important;
    justify-content: left;
}
nav.contact > *:not(.phone-icon-container) {
    margin-left: 2.6vw;
}
nav.contact li {
    width: max-content;
}
nav.contact ul {
    display: none;
}
nav.contact a {
    padding: 0;
}
nav.contact img  {
    filter: invert();
    min-height: 20px;
}
nav.contact .phone-icon-container {
    width: var(--big-vertical-margins);
    border-left: var(--transparent-border);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo-container {
    width: calc(100% - var(--big-vertical-margins));
    margin-left: var(--small-vertical-margins);
    justify-content: left;
    display: flex;
    align-items: center;
    padding: 0 !important;
}

/* mobile nav */

.mobile-nav-container {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    flex-direction: row;
}
.shorthand-menu-label {
    margin-right: calc(8.25vw - 17px);
}
.shorthand-menu-label img {
    filter: invert();
    height: 30px;
    padding: 0;
}

.menu-links{
    background-color: var(--hero);
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 250px;
    top: 0;
    right: -250px;
    z-index: 32;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: var(--big-vertical-gap);
}
.menu-links > img{
    height: 40px;
    margin-bottom: 30px;
}
.menu-links a, .menu-links p, .menu-links li {
    color: var(--body-color);
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
}
.menu-links a:hover, .menu-links li:hover {
    color: var(--background);
}
.menu-contact::before {
    height: 1px;
    width: 100%;
    content: '';
    display: block;
    background-color: var(--body-color);
    margin: 15px 0; 
}


/* to top */

.to-top {
    position: fixed;
    z-index: 30;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.to-top img {
    transform: scale(150%);
    filter: invert();
}
.to-top:hover img {
    filter: invert(85%) sepia(16%) saturate(5060%) hue-rotate(344deg) brightness(102%) contrast(101%);
}

/* media queries */

@media (min-width: 700px) {
    .main-logo-container {
        width: 24.5vw;
        margin-left: 0;
        justify-content: center;
    }
    .mobile-nav-container {
        display: none;
    }
    nav.contact ul {
        display: block;
    }
    nav li.medium-device {
        display: none;
    }
    nav.contact .phone-icon-container {
        width: calc(var(--big-vertical-margins) - var(--small-vertical-margins));
    }
} 

@media (min-width: 700px) and (max-width: 949px)
{
    nav {
        width: calc(100% - 300px);
    }
}

@media (min-width: 700px) and (max-width: 1099px)
{
    nav.contact {
        justify-content: center;
        width: var(--big-vertical-margins);
        gap: 15px;
        border-left: var(--transparent-border);
    }
    nav.contact ul {
        margin-left: 0 !important;
    }
    nav ul li {
        margin-right: 10px;
    }
    nav.contact ul li {
        margin: 0;
    }
    .contact .phone-icon-container {
        border: none !important;
        margin-left: -1px;
    }
}

@media (min-width: 950px) {
    .nav-container .divider {
        right: auto;
        left: var(--big-vertical-margins);
    }
    .nav-container a {
        font-size: 13px;
    }
}

@media (min-width: 1100px) {
    nav:not(.contact, .menu) ul li:first-child {
        border-left: var(--transparent-border);
    }
    nav.contact .phone-icon-container {
        width: calc(var(--big-vertical-margins) - var(--small-vertical-margins));
        border-right: var(--transparent-border) !important;
    }
}

@media (max-width: 699px) {
    .nav-container nav {
        display: none;
    }
}

/*-------------- LANDING ----------------*/

.landing {
    min-height: 100vh;
    width: 100%;
    background-image: url(./img/hero.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.landing .vertical-line {
    background-color: var(--background);
    opacity: 0.15;
    position: absolute;
}
.landing .underline {
    width: 295px;
}

.hero-container {
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    width: 100%;
}
.hero {
    margin-left: var(--small-vertical-margins);
}
.hero h1 {
    max-width: 330px;
    width: 90%;
}
.hero .underline {
    width: 195px;
    margin-top: -6px;
}

.sub-hero-container {
    margin-top: 30px;
}
.sub-hero-button-container::before {
    display: block;
    content: '';
    height: 1px;
    width: 100vw;
    margin-left: calc(var(--small-vertical-margins) * -1 - 2.8%);
    opacity: 0.15;
    background: var(--background);
}
.sub-hero-container::before {
    display: none;
}
.sub-hero-button-container{
    width: 90%;
}
.sub-hero {
    flex-direction: column-reverse;
    display: flex;
    margin-left: var(--small-vertical-margins);
    margin-right: var(--small-vertical-margins);
    width: calc(100% - var(--small-vertical-margins));
}
.sub-hero button img svg path {
    stroke: var(--body-color);
}
.sub-hero button:hover img svg path {
    stroke: var(--background);
}
.sub-hero p{
    margin-top: 10px;
    width: 90%;
    font-size: 13px;
    line-height: 16px;
    color: var(--background);
    font-weight: 500;
    max-width: 350px;
}
.sub-hero p span {
    font-size: 18px;
    color: var(--hero);
    font-weight: 700;
    line-height: 18px;
}


@media (min-width: 800px) {
    .hero .underline {
        width: 300px;
    }
    .hero h1 {
        min-width: 500px;
        width: 40%;
    }
}

@media (max-width: 950px) {
    .sub-hero p {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .landing .vertical-line:first-child {
        display: none;
    }
}

@media (min-width: 950px) {
    .sub-hero-container::before {
        display: block;
        content: '';
        height: 1px;
        width: calc(100% - var(--big-vertical-margins));
        opacity: 0.15;
        background: var(--background);
    }
    .sub-hero-button-container::before {
        display: none;
    }
    .sub-hero p{
        margin-right: var(--big-vertical-margins);
        padding-right: 40px;
        font-size: 18px;
        line-height: 23px;
        min-width: 260px;
    }
    .sub-hero p span {
        font-size: 25px;
        line-height: 23px;
    }
    .sub-hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: var(--small-vertical-margins);
        margin-right: var(--small-vertical-margins);
        width: calc(100% - var(--small-vertical-margins));
    }
    .sub-hero p{
        margin-top: -40px;
        width: 25%;
        margin-right: var(--small-vertical-margins);
        transform: translateY(-100%);
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width: 350px) {
    .sub-hero button {
        width: 100%;
    }
}



/*--------------- ABOUT -------------*/

.about {
    margin-bottom: var(--horizontal-margins);
}
.section-intro {
    margin: var(--horizontal-margins) var(--small-vertical-margins);
    margin-bottom: calc(var(--horizontal-margins) / 2);
    width: calc(100% - var(--small-vertical-margins) * 2);
}
.section-intro .underline, .subsection-intro .underline {
    margin-bottom: 15px;
}
.section-intro > div {
    white-space: nowrap;
    width: max-content;
}
.section-intro p {
    flex-basis: auto;
}
.horizontal-line {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
    position: relative;
}
.about .horizontal-line {
    margin-bottom: -7px;
}
.horizontal-line::after {
    width: 10px;
    height: 10px;
    content: '';
    background-color: var(--hero);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    left: calc(100% - 5px);
    top: -5px;
}

.about .flex-container {
    flex-wrap: nowrap;
    margin: calc(var(--horizontal-margins) / 2) calc(var(--small-vertical-margins) - 2px);
    align-items: center;
}
.justify-right {
    flex-direction: column-reverse;
}

section.about img {
    object-fit: cover;
    max-width: 100%;
    position: relative;
    z-index: 2;
}


@media (min-width: 800px) {
    .about .flex-container {
        flex-direction: row;
        align-items: flex-start;
        margin: var(--horizontal-margins) var(--small-vertical-margins);
    }
    .flex-container div {
        width: calc(50% + var(--big-vertical-gap));
    }
    .flex-container img {
        width: calc(50% + var(--big-vertical-gap));
    }
    .flex-container div {
        width: calc(100% - var(--big-vertical-margins));
    }

}

@media (min-width: 800px) and (max-width: 1099px) {
    .flex-container div, .flex-container img {
        width: 50%;
    }
}

@media (min-width: 1100px) {
    .section-intro div {
        flex-basis: calc(50% + var(--big-vertical-gap) / 2);
    }
    .section-intro p {
        flex-basis: calc(50% - var(--big-vertical-gap));
    }
    .flex-container div {
        width: calc(50% - (var(--big-vertical-margins) - (var(--big-vertical-gap) / 2) - var(--small-vertical-margins)));
    }
    .justify-right {
        margin-left: var(--big-vertical-margins) !important;
        margin-right: var(--small-vertical-margins) !important;
    }
    .justify-left {
        margin-left: var(--small-vertical-margins) !important;
        margin-right: var(--big-vertical-margins) !important;
    }
    .section-intro, .subsection-intro {
        display: flex;
        justify-content: space-between;
        gap: var(--big-vertical-gap);
    }
    .section-intro .underline, .subsection-intro .underline {
        margin-bottom: 0;
    }
    .section-intro, .subsection-intro {
        margin-bottom: var(--horizontal-margins) ;
    }
}





/*---------------SERVICES---------------*/

section.services {
    margin: var(--horizontal-margins) 0;
}

.grid {
    margin: var(--horizontal-margins) var(--small-vertical-margins);
    margin-top: calc(var(--horizontal-margins) / 2);
    width: calc(100% - calc(var(--small-vertical-margins) * 2));
    display: grid;
    grid-template-areas: 
        'col-1'
        'col-2'
        'col-3';
    column-gap: var(--small-vertical-gap);
    row-gap: calc(var(--small-vertical-gap) * 2);
}
.services-col{
    position: relative;
    opacity: 0;
    transform: translateY(50px);
}
.col-1 {
    grid-area: col-1;
}
.col-2 {
    grid-area: col-2;
}
.col-3 {
    margin-bottom: var(--horizontal-margins);
    grid-area: col-3;
}
.services-col.animating {
    transform: translateY(0);
    opacity: 1;
    transition: transform 300ms ease-in-out, opacity 250ms ease-in-out;
}

.column-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.services .column-header h3 {
    font-size: 11px;
    padding: 0 20px;
    line-height: 45px;
    font-weight: 700;
    width: max-content;
    margin-bottom: 0;
    background: var(--hero);
    white-space: wrap !important;
}
.services .column-header img {
    padding-left: 8px;
    height: 30px;
}
.services ul {
    padding: 20px;
    border: var(--body-color) 1px solid;
    background-color: #fff;
}
.services li {
    margin-bottom: 10px;
}
.services li::before {
    content: '■';
    width: 5px;
    height: var(--body-text-size);
    background-color: var(--background);
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 4px;
}

@media (min-width: 1510px){
    .grid{
        grid-template-columns: 
            calc(33% - calc(var(--small-vertical-gap) / 2)) calc(33% - calc(var(--small-vertical-gap) / 2)) calc(33% - calc(var(--small-vertical-gap) / 2));
        grid-template-areas: 
            'col-1 col-2 col-3';     
    }
    .col-1, .col-2, .col-3 {
        transform: translateY(100px);
    }
    .col-1.animating, .col-2.animating, .col-3.animating {
        transform: translateY(0px);
    }
    .col-2.animating {
        transition-delay: 150ms;
    }
    .col-3.animating {
        transition-delay: 250ms;
    }
    .col-3 {
        margin-bottom: 0;
    }
} 
@media (min-width: 1100px) and (max-width: 1509px){
    .grid{
        grid-template-columns: calc(50% - calc(var(--small-vertical-gap) / 2)) calc(50% - calc(var(--small-vertical-gap) / 2));
        grid-template-areas: 
        'label col-2'
        'col-1 col-3';
    }
    .col-1.animating {
        transform: translateY(-50%);
        transition-delay: 250ms;
    }
    .col-1 {
        transform: translateY(-40%);
    }
    .col-2 {
        transform: translateY(50%);
    }
    .col-2.animating {
        transform: translateY(0%);
    }
    .col-3.animating {
        transition-delay: 300ms;
    }
    .col-3 {
        margin-bottom: 0;
    }
}
@media (min-width: 800px) and (max-width: 1099px){
    .col-1{
        margin-right: 200px;
    }
    .col-2{
        margin-left: 200px;
    }
    .col-3{
        margin-right: 200px;
    }
 }
@media (min-width: 800px) {
    .grid {
        margin-top: var(--horizontal-margins);
    }
    .services .column-header h3 {
        padding: 10px 30px;
        font-size: 13px;
    }
    .services ul {
        padding: 30px;
    }
    .services li {
        margin-bottom: 15px;
    }
    .services .column-header img {
        padding-left: 10px;
        height: 35px;
    }
}

/* why us */

.subsection-intro {
    gap: var(--big-vertical-gap);
}
.subsection-intro h3 {
    white-space: nowrap;
}
.subsection-intro .underline {
    top: -20px;
    width: 100%;
}
.subsection-intro div {
    width: max-content;
    flex-basis: auto;
}
.subsection-intro p {
    margin-top: -12px;
    flex-basis: auto;
}
.subsection-intro .underline {
    margin-top: -5px;
}

.why-us-grid {
    margin-left: var(--small-vertical-margins);
    margin-right: var(--small-vertical-margins);
}
.why-us .flex-container {
    gap: var(--big-vertical-gap);
    flex-wrap: nowrap;
    margin-bottom: var(--small-vertical-margins);
}
.why-us .flex-container:last-child {
    margin-bottom: var(--horizontal-margins);
}
.why-us img {
    flex-basis: auto;
    width: 100px;
    padding: 40px 20px;
}
.why-us .icon-container {
    flex-basis: max-content;
    height: 100%;
    background-color: var(--hero);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}
.why-us .flex-container div:not(.icon-container) {
    padding: 15px 0;
}
.why-us h4 {
    margin-bottom: 15px;
    max-width: 230px;
}

.why-us {
    margin-bottom: var(--horizontal-margins)
}

@media screen and (min-width: 1100px) {
    .why-us-grid {
        margin-left: var(--big-vertical-margins);
        row-gap: 0;
        padding-bottom: var(--horizontal-margins);
    }
    .subsection-intro p {
        flex-basis: calc(100% - 290px - var(--small-vertical-gap) * 2);
        min-width: 400px;
        margin-right: calc(var(--big-vertical-margins) * 2);
    }
    .subsection-intro .underline {
        width: 290px;
    }
    .subsection-intro div {
        width: 290px;
    }
    .why-us-grid .flex-container {
        margin-bottom: var(--big-vertical-margins);
    }
    .why-us .flex-container:last-child, .why-us .flex-container:nth-child(5) {
        margin-bottom: 0;
    }
}

@media (min-width: 400px) and (max-width: 1099px) {
    .why-us .flex-container:last-child, .why-us .flex-container:nth-child(5) {
        margin-bottom: var(--horizontal-margins);
    }
}

@media (min-width: 400px) {
    .why-us-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: var(--big-vertical-gap);
        row-gap: var(--big-vertical-gap);
    }
}

@media (min-width: 800px) {
    .subsection-intro .underline {
        top: -8px;
    }
    .subsection-intro p {
        margin-top: 0;
    }
}




/* slider */

.testimonials .wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 0;
}
.slider-button {
    display: none;
}
.slider {
    margin: var(--horizontal-margins) var(--small-vertical-margins);
    margin-top: 0;
    margin-bottom: 60px;
    height: 500px;
    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
}
.slider-track {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
}
.slider-item {
    height: 100%;
    position: relative;
    transition: 250ms all ease-in;
}
.slider-item img {
    object-fit: cover;
    height: 500px;
} 
.slider-item:hover img:not(.slider-item-label img) {
    filter: blur(5px);
}
.slider-item-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider-item-label .color-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:var(--hero);
    opacity: 0;
    z-index: 1;
}
.slider-item:hover .color-overlay {
    opacity: 0.55;
    transition: 200ms all ease-in-out;
}
.slider-item-label h4, .slider-item-label img {
    position: absolute;
    top: 110%;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-weight: 600;
    opacity: 0;
}
.slider-item:hover h4, .slider-item:hover img {
    top: 50%;
    transition: 250ms all ease-in;
    opacity: 1;
}

button.ghost {
    border: var(--body-color) 1px solid;
    position: absolute;
    right: var(--small-vertical-margins);
}

/*---------------- TESTIMONIALS ------------------*/

section.testimonials {
    margin-bottom: var(--horizontal-margins);
}
.testimonials .slider {
    height: 300px;
    display: flex;
    align-items: center;
}
.slider-item-label img{
    height: 100px;
    object-fit: cover;
    margin-bottom: -4px;
}
.slider-item-label img:hover {
    filter: var(--filter-to-hero);
}
.testimonials .slider-track {
    gap: 12px;
}
.testimonials .slider-item img:not(.slider-item-label img) {
    width: 200px;
    height: auto;
    object-fit: scale-down;
    border: var(--body-color) 1px solid;
    margin-top: 1px;
}

/*-------------- Image preview popup ----------------*/

.popup-container {
    background-color: var(--transparent-black);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 70;
    transform: scale(100%);
    opacity: 1;
    transition: all 150ms ease-in-out;
}

.popup-container .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup-container.hidden .flex .flex{ 
    transform: scale(75%);
}

.popup-container .flex > * {
    box-sizing: border-box;
}

.popup-container .flex .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: max-content;
    height: max-content;
    max-height: 85vh;
}
  
.popup-container > img {
    color: var(--body-color);
    width: 95px;
    background-color: var(--transparent-white);
    padding: 20px 24px; 
    position: fixed;
    z-index: 50;
    filter: invert();
}
.popup-container .next-preview, .popup-container .prev-preview {
    margin: 0;
    top: 75%;
    transform: translateY(-50%);
}
.popup-container .prev-preview img{
    left: 0;
    transform: scaleX(-100%);
}
.popup-container .next-preview {
    right: 0;
}
.popup-container .close-preview {
    right: 0;
    top: 0;
    padding: 16px 20px;
    z-index: 35;
}
.popup-container > img:hover {
    color: var(--hero); 
}

.enlarged-image {
    position: relative;
}
.enlarged-image img{
    object-fit: contain;
    margin-bottom: -4px;
    box-shadow: var(--body-color) 0px 0px 10px;
    max-height: 85vh;
    max-width: 100%;
}

.popup-container .next-preview, .popup-container .prev-preview {
    margin: 0;
    top: 101%;
    transform: translateY(calc(-50% - 40px));
}
.popup-container .prev-preview {
    transform: translateY(calc(-50% - 40px)) scaleX(-100%);
}

@media screen and (min-width: 700px) {
    .popup-container .next-preview, .popup-container .prev-preview {
        margin: 40px;
        top: 50%;
    }
    .popup-container .close-preview {
        right: 40px;
        top: 40px;
    }
}



@media (min-width: 500px) {
    .testimonials .slider-item img:not(.slider-item-label img) {
        width: 300px;
    }
    .testimonials .slider {
        height: 440px;
    }

    .slider-button {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        z-index: 1;
    }
    .slider-button:hover {
        background: transparent;
    }
    .slider-button img { 
        height: 30px;
        padding: 0;
        margin: 0;
    }
    .slider-button:hover img {
        filter: invert();
    }
    .slider-button.button-left {
        left: calc(var(--big-vertical-margins) / 2);
        transform: translateY(-50%) translateX(-70%);
    }
    .slider-button.button-left img {
        transform:scaleX(-100%);
    }
    .slider-button.button-right {
        right: calc(var(--big-vertical-margins) / 2);
        transform: translateY(-50%) translateX(70%);
    }
    .testimonials .slider-button:hover img{
        filter: var(--filter-to-hero);
    }
}

/*-------- Contact Form ----------*/


.contact-form{
    margin: 0 var(--small-vertical-margins);
    background: var(--background);
    display: flex;
    justify-content: center;
    margin-bottom: var(--horizontal-margins);
}
.contact-form form {
    padding: 30px;
    border: var(--body-color) 1px solid;
    width: 100%;
    max-width: 700px;
}

.contact-form input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--body-color);    
    box-sizing: border-box;
}
.contact-form textarea {
    resize: none;
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    border: var(--body-color) 1px solid;
    overflow-y: scroll;
}



.contact-form button {
    margin: 15px 0;
    width: 100%;
    text-align: center;
}
.contact-form button:hover {
    background-color: var(--background);
    outline: var(--body-color) 1px solid;
    outline-offset: -1px;
}
.contact-form button h4 {
    text-align: center;
    width: 100%;
    font-size: var(--body-text-size);
    line-height: 1p0x;
    padding: 5px 10px;
}

.rodo {
    font-size: 10px;
    line-height: normal;
}

.contact .mid-width { 
    margin-top: var(--horizontal-margins);
    margin-bottom: var(--horizontal-margins);
    height: 70vh !important;
}
iframe {
    height: 100%;

}

@media (min-width: 800px) {
    .contact-form{
        margin: 0 var(--big-vertical-margins);
    }
    .contact-form form {
        padding: 50px;
    }
    .contact-form input {
        margin-bottom: 25px;
    }
    .contact-flex {
        display: flex;
        gap: var(--big-vertical-gap);
    }
}

@media (max-width: 400px) {
    .contact-form {
        margin: 0;
    }
    .contact-form form, .contact-form form * {
        border: none;
    }
    .contact-form form {
        padding: 30px var(--small-vertical-margins);
    }
    .contact-form form {
        background-color: var(--hero);
    }
    .contact-form input, .contact-form textarea {
       padding: 10px;
       color: var(--body-color);
    }
    .contact-form textarea {
        margin-top: 0;
    }
    .contact-form button {
        border: var(--body-color) 1px solid;
    }
}

/*-------- FOOTER ----------*/


.footer {
    height: 100%;
    background: url(./img/footer.png);
    position: relative;
    z-index: 20;
}
.footer a, .footer p, .footer li, .footer i {
    color: var(--background);
}
.footer a:hover {
    color: var(--hero);
}
.footer img svg {
    filter: invert();
}

.footer div:not(.menu-container) li:not(:last-child) {
    margin-bottom: 7px;
}
.footer-header {
    height: 8vh;
    min-height: 30px;
    max-height: 86px;
    padding: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.footer-header + * {
    padding: 3vh 0;
    white-space: nowrap;
    margin-right: 3vw;
}


.footer-underline {
    height: 8vh;
    min-height: 30px;
    max-height: 86px;
    border-bottom: var(--transparent-white) 1px solid;
    content: '';
    width: 100%;
}
.footer-underline.bottom {
    position: absolute;
    bottom: 0;
    border-bottom: none;
    border-top: var(--transparent-white) 1px solid;
}

/* footer menu */

.menu-container {
    width: 33vw;
    left: 0;
    flex-wrap: nowrap;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-container > * {
    justify-content: center;
}
.menu {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu ul, .menu li {
    width: min-content;
}
.footer-header, .menu li a {
    font-weight: 500;
    font-size: 16px;
}
.footer .menu ul {
    display: inline-block;
}
.menu li:not(:last-child) {
    margin-bottom: 10px;
    padding: 0;
}

/* footer info */

.footer-info, .location-and-address {
    display: flex;
    flex-direction: column;
    gap: 0.5vh !important;
}
.footer-info {
    left: 33vw;
    width: 100%;    
    border-left: var(--transparent-border);
    height: 100%;
}
.footer-info > * {
    margin-left: 3vw;
}
.footer-info .vertical-line {
display: none;
}
.contact-info img, .footer-credit img {
    height: 15px;
    margin-bottom: -4px;
    margin-right: 10px;
    filter: invert();
}
.contact-info a {
    text-decoration: underline;
}
.company-info {
    margin-left: 0 !important;
}
.company-info > * {
    padding-left: 3vw;
}
.company-info .footer-header {
    border-top: var(--transparent-border);
    border-bottom: var(--transparent-border);
}

/* address and location */

.location-and-address {
    height: calc(100% - 8vh) !important;
    right: 3vw;
}
.address, .location > * {
    padding-left: 3vw;
}
.location-and-address {
    border-left: var(--transparent-border);
}
.address {
    right: calc(var(--big-vertical-margins) + 3vw);
}
.location {
    left: calc(100vw - var(--big-vertical-margins));
}
.location img {
    width: 60px;
    margin-left: -10px;
    margin-top: 1.5vh;
}
.location img:hover {
    filter: brightness(1000%);
}



/* footer credit */

.footer-credit {
    left: 36vw;
    height: 8vh;
    min-height: 30px;
    max-height: 86px;
    padding: 0;
    display: flex;
    align-items: center;
    top: auto !important;
    bottom: 0;
}
.footer-credit p {
    font-weight: 600;
    font-size: 1rem;
}
.footer-credit a {
    text-decoration: underline;
    font-weight: 500;
    font-size: 1rem;
}
.footer-credit a:hover {
    color: var(--hero);
}
.footer-credit a:hover img {
    filter: var(--filter-to-hero);

}


@media (min-width: 320px) {
    .footer > *:not(.footer-underline, .main-footer), .main-footer > * {
        position: absolute;
        top: 0;
    }
} 
@media (max-width: 319px) {
    .footer{ 
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .footer-underline {
        position: absolute;
        top: 0;
    }
    .footer > *, .main-footer > * > * {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }
    .footer *:not(img) {
        width: 100%;
        text-align: center;
    }
    .main-footer .footer-header {
        width: 100%;
        padding-left: 0 !important;
        justify-content: center;
    }
    .contact-info {
        margin-left: 0;
    }
    .company-info ul {
        padding-left: 0;
    }
    .location img {
        margin-top: -1vh;
        margin-left: -12px;
    }
    .footer-credit {
        border-top: var(--transparent-border);
    }
}


@media (min-width: 500px) {
    .footer {
        height: 400px;
    }
    .footer-info {
        height: 400px;
    }
}
@media (max-width: 499px) {
    .main-footer .footer-header {
        border-bottom: var(--transparent-border);
        border-top: var(--transparent-border);
    }
    .location-and-address {
        height: max-content !important;
    }
}

@media (min-width: 320px) and (max-width: 499px) {
    .footer {
        height: 820px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .main-footer {
        position: absolute;
        top: 8vh;
        right: 0;
        border-left: var(--transparent-border);
        height: calc(100% - 16vh);
        width: 58%;
    }
    .main-footer * {
        position: relative;
        border-left: none;
        margin-left: 0;
        padding-left: 0;
        left: 0;
    }
    .main-footer > * > * > * {
        padding-right: 6vw;
        padding-left: 6vw;
    }
    .footer-info {
        left: 0;
        height: auto;
    }
    .location-and-address {
        right: 0;
    }
    .footer-credit {
        left: 6vw;
    }
    .menu-container {
        width: 50%;
    }
    .menu-container .footer-header, .menu {
        justify-content: left;
        margin-left: 3vw;
    }
    .contact-info .footer-header {
        border-top: none;
    }
}


@media (min-width: 700px) and (max-width: 949px) {
    .menu-container {
        width: 24.5vw;
    }
    .footer-info {
        left: 24.5vw;
    }
    .footer-credit {
        left: 27.5vw;
    }
}

@media (min-width: 950px) {
    .contact-info img, .footer-credit img {
        height: 18px;
    }
    .menu-container {
        width: var(--big-vertical-margins);
        justify-content: left;
    }
    .location {
        width: calc(var(--big-vertical-margins) - 3vw) !important;
    }
    .location-and-address {
        flex-direction: row;
        justify-content: flex-start;
    }
    .footer-info{
        flex-direction: row;
        gap: 3vw;
        left: var(--big-vertical-margins);
    }
    .company-info .footer-header {
        border: none;
    }
    .footer-info .vertical-line {
        position: relative;
        left: auto;
        height: 8vh;
        width: 1px !important;
        content: '';
        color: transparent;
    }
    .footer-credit {
        left: calc(var(--big-vertical-margins) + 3vw);
    }
}


